 
       .title-link {
        font-family: 'Noto Sans KR', sans-serif;

      }

      .card-transparent{
        box-shadow:none !important;

      background-color: #f2f4f5 !important;
      }

      .card-rounded{
        border-radius: 22px;
      }

      .item-rounded{
        border-radius: 18px;

      }

      .item-select{
        background-color: #dfe3e6;
        margin-bottom: 16px;
      }

      .card-body{
        padding-top:20px !important;
      }

      .icon-light {
        color: #ffffff;
      }
      .icon-dark {
        color: #000000;
      }

      .icon-link {
        margin: 16px !important;
      }



      .nav-link:hover{
        background-color: #dee1e3;
        border-radius: 8px;
        padding-left: 4px;
      }

      .navbar-toggler{
        outline:0px !important;
        border:0px !important;
        box-shadow:none;
      }

      .border {
        border: none !important;
      }

      .btn-box {
        padding: 3vh;
        padding-left: 3vh !important;
        padding-right: 3vh !important;

      }

      .btn-solvedac {
        background-color: #4ede79;
      }

      .btn-solvedac:hover {
        background-color: #43c96b;
        font-size: larger;
      }

      .btn-rocketpunch {
        background-color: #625be3;
      }

      .btn-rocketpunch:hover {
        background-color: #524ccc;
        font-size: larger;

      }

      .btn-insta {
        background-color: #dc54de;
      }

      .btn-insta:hover {
        background-color: #cc4bce;
        font-size: larger;

      }

      .btn-blog:hover {
        font-size: larger;

      }
      .btn-github:hover {
        font-size: larger;

      }

      .btn-tistory:hover {
        font-size: larger;

      }

      .btn-notion:hover {
        font-size: larger;
      }

      .btn-hover:hover {
        font-size: larger;
      }