
header {

  padding: 196px 0 150px;
  background-color: #f2f4f5;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;


}

section {
  padding: 16px ;

}

.box {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}
.font-title {
    font-family: 'Noto Sans KR', sans-serif;

}
.btns{
    padding:20px;
    margin-bottom:70px;

}
.btn-set-link{
  margin-bottom: 12px !important;
}
.text-logo{
  font-family: 'Josefin Sans', sans-serif;
}
.site-header{
  background-color: rgba(255, 255, 255, 0.422);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  }
.text-c{
  word-break: keep-all;

}
.icon-dark{
  color: #000000;
}
.btn-outline-insta{
  background-color: transparent;
  border-color: #8a3ab9;
  color: #8a3ab9;
}
.btn-outline-insta:hover{
  background-color: #8a3ab9;
  color: #ffffff;
  box-shadow: 0px 15px 20px rgba(138,58,185, 0.4);

}
.btn-outline-github{
  background-color: transparent;
  border-color: #121212;
  color: #121212;
}
.btn-outline-github:hover{
  background-color: #121212;
  color: #ffffff;
  box-shadow: 0px 15px 20px rgba(18,18,18, 0.4);

}
.content-margin{
  padding-bottom: 20px;
}
.card-none{
    outline:0px !important;
  border:0px !important;
  box-shadow:none;
  transition: 0.3s;
  color:#000;

}
.card-body{
  padding-left: 0px;
  padding-right: 0px;
}
.card-transparent{
  box-shadow:none !important;

  background-color: #f2f4f5 !important;
}
.card-rounded{
  border-radius: 22px;
}
.card-title{
    font-family: 'Noto Sans KR', sans-serif;
    FONT-SIZE:25px;
}

.card-none-1:hover{
    outline:0px !important;
    border:2px !important;
    background: url('/img/project/p1.jpg');
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;

}

.card-none-2:hover{
    outline:0px !important;
    border:2px !important;
    background: url('/img/project/p2.jpg');
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;

}

.card-none-3:hover{
    outline:0px !important;
    border:2px !important;
    background: url('/img/project/p3.jpg');
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;

}

.card-none-4:hover{
    outline:0px !important;
    border:2px !important;
    background: url('/img/project/p4.jpg');
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;

}

.card-none-5:hover{
    outline:0px !important;
    border:2px !important;
    background: url('/img/project/p5.jpg');
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;

}
