.bg-darker {
    background-color: #16181a !important;
}


.btn-darker {
    background-color: #16181a !important;
    color: #b9b9b9;
}

.btn-darker:hover {
    background-color: #16181a !important;
    color: #ffffff;
}


.btn-dark > .active {
    background-color: #26292d !important;

}

.btn-gray {
    background-color: #343a40;
    color: #ebebeb;
}

.btn-gray:hover {
    background-color: #495057;
    color: #ffffff;
}

.cursor-pointer {
    cursor: pointer !important;

}


.card-footer {
    border-top: none !important;
}

.card-link:hover {
    color: #cdcdcd;
}

.card {
    border-radius: 10px !important;
}


.rounded-start {

    border-radius: 10px !important;

}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #16181a;
    color: #b9b9b9;
}

.nav-link:hover {
    background-color: #16181a;
    color: #cdcdcd;
}


.container-footer {
    padding-top: 7rem;
    padding-bottom: 7rem;

}

.accordion-dark {
    background-color: #212529 !important;
}

.accordion-button {
    background-color: #212529 !important;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: none !important;
    color: #6c757d;

}

.accordion-item {
    background-color: #212529 !important;
    border: none !important;
    border-radius: 10px !important;
}

.accordion-header {
    border-radius: 10px !important;
}

.accordion-body {
    background-color: #343a40 !important;
    color: #ffffff;

}

.accordion-button::after {
    color: #cdcdcd !important;
    color: #0c1963e4;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='gray'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}
h3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}
h5 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}
p {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}